<a href="https://colab.research.google.com/github/rajatenzyme/Beginning-of-Machine-Learning/blob/master/Multivariate_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model
%matplotlib inline

In [3]:
df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [4]:
med = df['bedrooms'].median()
med

4.0

Fill na value with median of bedrooms ( that particular column)

In [5]:
df['bedrooms'] = df['bedrooms'].fillna(med)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [0]:
model = linear_model.LinearRegression()

In [7]:
model.fit(df[['area','bedrooms','age']],df['price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [9]:
model.intercept_

221323.00186540396

###Predicting a value of a  new house using below features

In [10]:
model.predict([[2500,4,5]])

array([578876.03748933])